apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:636c12378a5f5daa36ff3b33ba623da76336846520dacc854ec34a08f207ef5f
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"

