apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:99687247b2b07737f76eb650adaeb7f31a777e23cf2398425f05a513a51038af
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"

