apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:1d52c515095d81fe1ac4b437d5563e4b4cf889ecf669e4d2adb3a5db4ca833d3
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"

