apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:8456764b3cf8b035509e5d7c65dd3dfcc8c1a471f267a213f81dae0108a9ce57
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"

