apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:aca3c2b584a4098b93e739039ed70f5bb2e94e0fe438d49b96dcadcc6424a4c5
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"

