apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
      - name: transaction
        image: oolumee/transaction@sha256:928d42707491df917cbd2f59e4baa438a82d8923285c186f4085c78221775f2d
        env:
        - name: DB_TIMEOUT
          value: "100"

