apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
  namespace: bankapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
      - name: transaction
        image: oolumee/transaction@sha256:e6f7bd56cd9f3b05d58e085cd82ff2a31d1f1a9d35c6e3b349bf3ba2281e3498
        env:
        - name: DB_TIMEOUT
          value: "100"

