apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: bankapp-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account
        image: oolumee/account@sha256:ef3539d97981c2032d66f2bd1950793e1fc648c9aa820e103ce2dc0870be620d
        env:
        - name: ENABLE_AUDIT_LOGS
          value: "false"
